/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

:root {
    --hl-color: #abb2bf;
    /*代码框字体顔色 【必须】 (把下面.hljs的 color复製到这里来)*/
    --hl-bg: #313131;
    /*代码框背景色 【必须】 (把下面.hljs的 background复製到这里来)*/
    --hltools-bg: #49b1f587;
    /*代码框顶部工具栏背景色 【可选】(如果你关掉了 copy、lang 和 shrink,可不用配置这个）*/
    --hltools-color: #ffffff;
    /*代码框顶部工具栏字体顔色 【可选】(如果你关掉了 copy、lang 和 shrink,可不用配置这个）*/
    --hlnumber-bg: rgb(235 239 241);
    /*代码框行数背景色 【可选】(如果已经关掉 line_number,可以不用配置这个)*/
    --hlnumber-color: #221a0f52;
    /*代码框行数字体顔色 【可选】 (如果已经关掉 line_number,可以不用配置这个)*/
    --hlscrollbar-bg: #d3af86;
    /*代码框滚动条顔色 【可选】（默认为主题主顔色）*/
    --hlexpand-bg: #d3af86;
    /*代码框底部展开背景色 【可选】(如果已经关掉 highlight_height_limit,可以不用配置这个)*/
}

.hljs {
    color: #abb2bf;
    background: #282c34;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}


/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

h1#site-title {
    /* font-size: 8vh !important; */
    text-shadow: 3px 1px 4px #000 !important;
    font-family: Fira Code !important
}

span#subtitle {
    font-size: 3vh !important;
    /* text-shadow: 3px 1px 2px #000 !important; */
    font-family: Fira Code !important
}

a#site-name {
    /* text-shadow: 3px 1px 2px #000 !important; */
    font-family: Fira Code !important
}

#article-container pre,
#article-container code {
    font-family: 'JetBrainsMono';
    src: url("https://gcore.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/ttf/JetBrainsMono-Bold.ttf");
}

.article-title {
    font-weight: bolder;
    font-family: Fira Code !important;
}